{%extends 'photos/base.html'%}
{% load static %} 
{% block content %}
{{ block.super}}

<div class="container">
 
 <div class="row">
  {% for category in categories %}
    <div class="col-md-3">
      <a href="{% url 'get_category' category.id %}">{{category.name}}</a>
    </div>
    {% endfor %}
 </div>
 <div class="row">
  {% for photo in photos %}
  <div class="col-md-4" >
   <img src="{{photo.image.url}}" class="img-responsive" alt="Image">
    </div>
  

  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  {% endfor %}
 </div>
 
 </div>
    
    
  
   
  




{% endblock %}